.button {
  background: $light-blue;
  border: none;
  text-align: center;
  padding: $s-size;
  font-size:  $font-size-l;
  font-weight: 300;
  color: white;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
}